:root {
  --kojiki-white: #f0f0f0;
  --kojiki-gray: #7e7e7e;
  --kojiki-blue: #80bdff;
  --kojiki-border: #a0a0a0;

  --kojiki-font-title: "prefectures", sans-serif;
  --kojiki-font-text: "berkely", sans-serif;

  --kojiki-size-lg: 50px;
  --kojiki-size-md: 40px;
  --kojiki-size-sm: 20px;
  --kojiki-size-xs: 15px;
}

@media only screen and (max-width: 600px) {
  :root {
    --kojiki-size-lg: 22px;
    --kojiki-size-md: 20px;
    --kojiki-size-sm: 15px;
    --kojiki-size-xs: 13px;
  }
}

@font-face {
  font-family: "prefectures";
  src: url("../fonts/Prefectures.ttf") format("truetype");
}
@font-face {
  font-family: "berkely";
  src: url("../fonts/berkeley-mono-variable-2.ttf") format("truetype");
}

* {
  color: var(--kojiki-gray);
  font-family: var(--kojiki-font-text);
}

html,
body {
  overflow: hidden;
}

body {
  background-color: var(--kojiki-white);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--kojiki-size-lg);
}

h2 {
  font-size: var(--kojiki-size-md);
}

p {
  font-size: var(--kojiki-size-sm);
  line-height: 23px;
}

small {
  font-size: var(--kojiki-size-xs);
}

span {
  color: var(--kojiki-blue);
  background-color: transparent;
}

button {
  padding: 0px 15px;
  background: none;
  color: var(--kojiki-blue);
  border: 2px solid var(--kojiki-blue);
}

button i {
  color: var(--kojiki-blue);
}

.clickable-text-container {
  position: absolute;
  bottom: 150px;
  width: 100%;
  text-align: center;
}

.clickable-text {
  font-size: 30px;
  color: #95a6b4;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  transition: transform 0.3s;
}

.clickable-text:hover {
  color: var(--kojiki-blue);
  transform: scale(1.25);
  text-decoration: none;
}

.kojiki-border {
  border: 2px solid var(--kojiki-border) !important;
}

.semi-header {
  background-color: var(--kojiki-blue);
  color: var(--kojiki-white);
  font-size: var(--kojiki-size-xs);
}

.header {
  position: fixed;
  top: 20;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  background-color: none;
  padding: 0px 50px;
}

.header a {
  font-size: 15px;
}

/* .header .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
} */

.header .title {
  font-family: var(--kojiki-font-title);
  font-size: 20px;
}

#hero {
  background: url(../img/wallpapers/page-part-1.png);
  background-size: cover;
  background-position: center;
}

#mission {
  background: url(../img/wallpapers/page-part-2.png);
  background-size: cover;
  background-position: center;
}

#mission p {
  margin: 80px auto 50px auto;
  max-width: 700px;
}

#mission button {
  padding: 5px 40px;
}

#mission .decoration img {
  position: absolute;
  opacity: 0.3;
  width: 30%;
}

#mission .decoration img:first-child {
  top: 10%;
  left: -10%;
}

#mission .decoration img:last-child {
  bottom: 20%;
  right: -10%;
}

#trade {
  background: url(../img/wallpapers/page-part-3.png);
  background-size: cover;
  background-position: center;
}

#trade .panel {
  max-width: 1000px;
}

#community {
  background: url(../img/wallpapers/page-part-4.png);
  background-size: cover;
  background-position: center;
}

#partner {
  background: url(../img/wallpapers/page-part-5.png);
  background-size: cover;
  background-position: center;
}

#partner img {
  filter: grayscale(1);
}

@media only screen and (max-width: 600px) {
  .header {
    padding: 12px;
  }

  #mission p {
    margin: 25px auto 25px auto;
  }
}
